body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    max-height: 95vh;
}


#form{
    padding-bottom: 10px;
    max-width: 50vw;
    background-color: #fff;
}

#render{
    background-color: #fff;
    max-height: 70vh;
    min-height: 50vh;

    max-width: 50vw;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
}

.card{
    color: white;
    background-color: blueviolet;

    width: 90%;
    max-width: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

padding-bottom: 10px;
    margin-bottom: 10px;

}
